<h2>How does this work?</h2>

<p>The GitHub Contribution Checker uses the
  <a href="https://developer.github.com/" target="_blank">GitHub API</a> to
  check the
  <a href="https://help.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile#commits" target="_blank">criteria</a>
  used for counting a commit as a contribution. It is currently only possible to
  check commits authored in public repositories.</p>

<p>The following
  <a href="https://developer.github.com/v3/oauth/#scopes" target="_blank">OAuth
  scopes</a> are requested when you are prompted to authorise the application:
</p>

<ul>
  <li>user:email</li>
  <li>read:org</li>
</ul>
