<p class="lead text-left">How does this work?</p>

<p>The GitHub Contribution Checker uses the
  <a href="https://developer.github.com/" target="_blank">GitHub API</a> to
  check the
  <a href="https://help.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile#commits" target="_blank">documented
    criteria</a> used for counting a commit as a contribution. It is currently
    only possible to check commits authored in <em>public</em> repositories.</p>

<p>The following
  <a href="https://developer.github.com/v3/oauth/#scopes" target="_blank">OAuth
  scopes</a> are requested when you are prompted to authorize the application:
</p>

<table class="table">
  <tr>
    <th>Scope</th>
    <th>Reason</th>
  </tr>
  <tr>
    <td><code>user:email</code></td>
    <td>Read-only access to the email addresses you have added to your GitHub
      account is required when checking whether the email address used to author
      a commit has been added to your GitHub account.</td>
  </tr>
  <tr>
    <td><code>read:org</code></td>
    <td>Read-only access to your GitHub organization membership is required when
      checking whether you are a member of the organization which owns a
      repository in which you have authored a commit.</td>
  </tr>
</table>

<% if !authenticated %>
<div id="get-started" class="text-center">
  <a href="/auth" class="btn btn-primary btn-lg">Get started</a>
</div>
<% end%>
