<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub contribution checker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
    <style media="screen">
      .container {
        max-width: 730px;
        padding-top: 150px;
      }

      body {
        background-image:url('/background.png');
        background-repeat: repeat-x;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1>
          <a href="/"><span class="glyphicon glyphicon-calendar"></span></a>
          GitHub Contribution Checker
        </h1>
        <p class="lead">
          So, you want to check if your commit is counted as a GitHub contribution?
          <br>
          Step right up and enter your commit URL:
        </p>
      </div>

      <% if defined? error_message %>
      <div class="alert alert-danger">
        <strong><%= error_message %></strong>
      </div>
      <% end %>

      <form class="form" role="form" method="get">
        <div class="form-group">
          <input class="form-control span6" name="url" placeholder="https://github.com/:user/:repo/commit/:sha" autofocus>
        </div>
      </form>

    </div>
  </body>
</html>
