<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub Contribution Checker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
    <style media="screen">
      body {
        background-image:url('/background.png');
        background-repeat: repeat-x;
      }
      .container {
        max-width: 768px;
        padding-top: 40px;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1>GitHub Contribution Checker</h1>
        <p class="lead">Enter your commit URL to check whether it's counted as
          a GitHub contribution:
        </p>
      </div>

      <% if defined? error_message %>
      <div class="alert alert-danger">
        <strong><%= error_message %></strong>
      </div>
      <% end %>

      <form class="form" role="form" method="get">
        <div class="form-group">
          <input class="form-control span6" name="url"
            placeholder="https://github.com/:user/:repo/commit/:sha" autofocus>
        </div>
      </form>
    </div>
  </body>
</html>
