<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub contribution checker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
    <style media="screen">
      .container {
        margin-top: 50px;
        max-width: 730px;
      }

      .table td:first-child {
        padding-left: 40px;
      }

      table td span {
        padding-right: 40px;
      }

      body {
        background-image:url('/background.png');
        background-repeat: repeat-x;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1>
          <a href="/"><span class="glyphicon glyphicon-calendar"></span></a>
          GitHub Contribution Checker
        </h1>
        <p class="lead">Your <a href="<%= commit_url %>" target="_blank">commit</a>
          <span style="padding: 0 3px" class="bg-<% if contribution %>success<% else %>danger<% end %>">
          <% if contribution %>
            should be
          <% else %>
            will not be
          <% end %>
          counted</span> as a contribution! Check the details below:
        </p>
      </div>

      <table class="table table-condensed table-responsive">
        <thead>
          <tr class="<% if and_criteria[:commit_in_valid_branch] && and_criteria[:commit_in_last_year] && and_criteria[:repo_not_a_fork] && and_criteria[:commit_email_linked_to_user] %>success<% else %>danger<% end %>">
            <td><h4>All of the following rules need to be true</h4></td>
          </tr>
        </thead>
        <tbody>
          <tr class="<% if and_criteria[:commit_in_valid_branch] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if and_criteria[:commit_in_valid_branch] %>ok<% else %>remove<% end %>"></span> Is the commit in the default or gh-pages branch? </td>
          </tr>
          <tr class="<% if and_criteria[:commit_in_last_year] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if and_criteria[:commit_in_valid_branch] %>ok<% else %>remove<% end %>"></span> Was the commit authored in the last year?</td>
          </tr>
          <tr class="<% if and_criteria[:repo_not_a_fork] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if and_criteria[:repo_not_a_fork] %>ok<% else %>remove<% end %>"></span> Is the repository containing the commit a fork?</td>
          </tr>
          <tr class="<% if and_criteria[:commit_email_linked_to_user] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if and_criteria[:commit_email_linked_to_user] %>ok<% else %>remove<% end %>"></span> Is the email used to author the commit listed in the user's email settings?</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-condensed">
        <thead>
          <tr class="<% if or_criteria[:user_has_starred_repo] || or_criteria[:user_can_push_to_repo] || or_criteria[:user_is_org_member] || or_criteria[:user_has_fork_of_repo] %>success<% else %>danger<% end %>">
            <td><h4> At least one of the following rules needs to be true</h4></td>
          </tr>
        </thead>
        <tbody>
          <tr class="<% if or_criteria[:user_has_starred_repo] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if or_criteria[:user_has_starred_repo] %>ok<% else %>remove<% end %>"></span> Has the user starred the repository containing the commit?</td>
          </tr>
          <tr class="<% if or_criteria[:user_can_push_to_repo] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if or_criteria[:user_can_push_to_repo] %>ok<% else %>remove<% end %>"></span> Does the user have push access to the repository?</td>
          </tr>
          <tr class="<% if or_criteria[:user_is_repo_org_member] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if or_criteria[:user_is_repo_org_member] %>ok<% else %>remove<% end %>"></span> Is the user a member of the organization that owns the repository?</td>
          </tr>
          <tr class="<% if or_criteria[:user_has_fork_of_repo] %>success<% else %>danger<% end %>">
            <td><span class="glyphicon glyphicon-<% if or_criteria[:user_has_fork_of_repo] %>ok<% else %>remove<% end %>"></span> Does the user own a fork of the repository containing the commit?</td>
          </tr>
        </tbody>
      </table>

      <div class="page-header text-center">
        <p class="lead">Cool! Now, check another commit while you're here:</p>
        <form class="form" role="form" method="get">
          <div class="form-group">
            <input class="form-control span6" name="url" placeholder="https://github.com/:user/:repo/commit/:sha" autofocus>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
